<p id="notice"><%= notice %></p>

<p>
  <strong>Values:</strong>
  <%= @allowedvalueslevel.values %>
</p>

<%= link_to 'Edit', edit_allowedvalueslevel_path(@allowedvalueslevel) %> |
<%= link_to 'Back', allowedvalueslevels_path %>
