


<p id="notice"><%= notice %></p>

<p>
  <strong> <%= @institute.name %></strong>
 
</p>
<div class="remoteform">
<h2> add review </h2>
<%= render partial: 'textreviews/form', locals: {doajax: true} %>
</div>


  

  